# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

# Set connection MYSQL-async
set mysql_connection_string "server=localhost;database=essentialmode;userid=root;"
 
# Disable Couchdb from essentialmode
set es_enableCustomData 1
 
# Mysql/Base
start mysql-async
 
#Fix Errors
restart sessionmanager
 
#Base
start es_extended
start esplugin_mysql
start essentialmode
start mysql-async
start es_admin2
start cron


#[ESX]
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start esx_voice
start esx_sit
start esx_rpchat
start esx_animations
start skinchanger
start esx_skin
start esx_identity
start esx_joblisting
start esx_status
start esx_optionalneeds
start esx_basicneeds
start esx_jail
start esx_customui
start esx_clothestore
start esx_addonaccount
start esx_jobs
start esx_shops
start esx_billing
start esx_society
start esx_datastore
start esx_addoninventory
start esx_policejob
start esx_ambulancejob
start esx_mecanojob

# [SX]
start sx_loadingscreen
start sx_adminmenu
# start sx_accountmanager # For this follow the SXAccountManager tutorial
start sx_admintool

sv_scriptHookAllowed 1

sv_hostname "[SXAdminTool] + [ESX Pack] - This is helpfull to start [DoktorSAS]"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
#load_server_icon yourlogo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit


# player endpoint protection
sv_endpointprivacy true

# change this
set steam_webApiKey "yoursteamwebapukey"

rcon_password "yourrconpassword"

set sv_licensekey "yourlicensekey"












































































































































































